@charset "utf-8";

body{font-family: 'Sofia Pro';background-color: #1d1d1d;}

        h1{font-weight: 500;font-size: 50px; color: #ffffff; text-align: center; margin: 100px 0 30px 0;}

        .hamburgerMenu{display: flex; width: 100%; height: 70px; background-color: #A334FB; padding: 0 30px; align-items: center;
            .left{width: 50%;
                .logo{
                    a{font-weight: 500; font-size: 24px; line-height: 30px; color: #ffffff;}
                }
            }
            .right{width: 50%; display: flex; justify-content: flex-end;
                .hamburgerMenuButton{width: 25px; cursor: pointer;
                    span{width: 100%; height: 2px; background-color: #ffffff; display: flex;margin: 0 0 5px 0;
                        &:last-child{margin: 0;}
                    }
                }
            }
        }

        .hamburgerMenuList{width: 350px; height: 100vh; background-color: #ffffff;padding: 100px 40px 50px 40px; position: fixed; right: -100%; top: 0; transition: right 0.4s ease-in-out;
            &.active{right: 0;}
            .closeButton{position: absolute; right: 30px; top: 20px; display: flex; justify-content: center; align-items: center; background-color: #A334FB; height: 35px; width: 35px; border-radius: 50%; cursor: pointer;
                span{background-image: url(../img/close-white.png); width: 13px; height: 13px;}
            }
            ul{width: 100%;
                li{width: 100%; margin: 0 0 10px 0;

                    &:last-child{margin: 0;}
                    a{font-weight: 500; font-size: 18px; line-height: 28px; color: #1d1d1d; position: relative;
                        &::before{content:""; width: 10px; height: 10px; background-color: #A334FB; position: absolute; left: -20px; top: calc(50% - 5px); border-radius: 50%; opacity: 0; transition: opacity 0.2s ease-in-out;}
                        &:hover{
                                &::before{opacity: 1;}
                        }
                    }
                }
            }
            .logo{width: 100%; text-align: center; position: absolute; left: 0; bottom: 30px;
                a{font-weight: 500; font-size: 24px; line-height: 30px; color: #A334FB;}
            }
        }

        .devLinkBox{width: 100%; display: flex; justify-content: center; padding: 30px 0;
            a{font-weight: 500; color: #ffffff; font-size: 20px; line-height: 26px;}
        }


@media screen and (max-width: 991px){
    h1{font-size: 40px;}
}
@media screen and (max-width: 767px){
    h1{font-size: 30px;margin: 50px 0 30px 0;}
    .hamburgerMenu{ padding: 0 15px;}
    .hamburgerMenuList{width: 100%;padding: 75px 30px 40px 30px;}
}